<!DOCTYPE html>
{% load staticfiles %}
<html>
  <head>
    <meta charset="utf-8">
    <title>Paper Summary Log In</title>
    <link rel="stylesheet" href="{% static 'css/semantic.css' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <script src="{% static 'js/vue1.js' %}"></script>
    <script src="{% static 'js/reqwest.js' %}"></script>
    <script src="{% static 'js/js.cookie.js' %}"></script>
  </head>
<!-- tags for Django avoiding to take '{}' as variable-->
{% verbatim %}
<body  id="app">
  <div class="ui basic center aligned segment" style="background-color: #A9D0F5;opacity:0.9;">
    <h1 style="color:white;">Paper Summary</h1>
    <div class="ui secondary pointing inverted large menu" >
      <a v-on:click='backHome' class="item">
        Home
      </a>
      <a v-on:click='getAllSummary' class="active item" >
        All Summary
      </a>
      <a class="item">
        Peer Review
      </a>
      <a class="item">
         <i class='edit icon'> </i>Write Summary
      </a>
      <div class="right menu" v-on:click="logout">
        <a class="ui item" >
          Logout
        </a>
      </div>
    </div>
  </div>

<!-- all summary -->
  <div class='ui very padded segment' style="opacity: 0.9;">
      <!-- items -->
          <h3 class="ui center aligned header">{{ article.title }}</h3>
          <!-- <img class="ui small left floated image" :src="artcs.url_image" style='height:100px;width:100px;' >-->
          <p>{{ article.content }}.<p>
          <div class="ui secondary  menu">
            <div class="right menu">
              <a class="ui item">
                <i class="like icon"></i> {{ article.vote }} Like
              </a>
              <a class="ui item">
                <i class="comment icon"></i> 1 comment
              </a>
            </div>

          </div>
    </div>


  <div class='ui basic center aligned segment' style="margin-top: 200px;background-color:#A9D0F5;opacity:0.9;">
   <p style="color:white;">© 2017   JingxinFu.<br>Contact: jacobxin24@gmail.com </br></p>
  </div>

  <script>
  vm = new Vue({
      el:"#app",
      data:{
        article:[],
      },
      methods:{
      get_userprofile_id : function(name){
            if(name=(new RegExp('[?&]'+encodeURIComponent(name)+'=([^&]*)')).exec(location.search))
            return decodeURIComponent(name[1]);
          },
       getData:function(){

          var self = this;
          var id = this.get_userprofile_id('id')
          console.log(id)
          var url = "/api/detail/" + String(id)
          reqwest({
            url:url,
            type:'json',
            headers:Cookies.get('token')? {'Authorization': 'Token ' + Cookies.get('token')}:{},
            success:function(resp){
              console.log(resp);
              self.article=resp;
            },
            error:function(error){
            //  window.location = '/home/';
            },

          })
        },

      logout : function () {
        Cookies.remove('token');
        window.location = '/home/';
      },
      getAllSummary : function(){
        window.location = '/articleList/';
      },
      backHome : function(){
        window.location = '/article/';
      }

      },

      computed:{
      },

      ready:function(){
        this.getData();
      },
    })


  </script>
</body>


{% endverbatim %}
</html>
