<!DOCTYPE html>
{% load staticfiles %}
<html>
  <head>
    <meta charset="utf-8">
    <title>Paper Summary Log In</title>
    <link rel="stylesheet" href="{% static 'css/semantic.css' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <script src="{% static 'js/vue1.js' %}"></script>
    <script src="{% static 'js/reqwest.js' %}"></script>
    <script src="{% static 'js/js.cookie.js' %}"></script>

    <style media="screen">
      .ui.container.segment.inputs {
          padding: 70px;
          font-family: SimHei;
          margin-top: 0px;
        }

    </style>
  </head>
<!-- tags for Django avoiding to take '{}' as variable-->
{% verbatim %}
<body  id="app">

  <div class="ui top blue fixed menu" >
    <div class="item">
      <h1 style="color:teal;">Paper Summary</h1>
    </div>
    <a class="item" v-on:click='backHome'>
    Home
    </a>
    <a v-on:click='getAllSummary' class="item" >
    All Summary
    </a>
    <a class="item" v-on:click='getReview'>
    Peer Review
    </a>
    <a class="active item" v-on:click='writeSummary'>
     <i class='edit icon'> </i>Write Summary
    </a>
    <div class="right menu" v-on:click="logout" >
    <a class="ui item" >
      Logout
    </a>
    </div>
  </div>

  <div class="ui container segment inputs" style="margin-top: 100px;"">
    <form class="ui form">
      <input type="text" name="" value="" placeholder="Title" style="margin-bottom:10px;">
      <input type="text" name="" value="" placeholder="Content" style="height:500px;">
    </form>
    <div class="ui right aligned basic segment">
      <button class="ui {{ ActiveOrDisabled }} button"  v-on:click="login" type="submit">Submit</button>
    </div>
  </div>

  <div class='ui basic center aligned segment' style="margin-top: 200px;background-color:#A9D0F5;opacity:0.9;">
   <p style="color:white;">© 2017   JingxinFu.<br>Contact: jacobxin24@gmail.com </br></p>
  </div>

  <script>
  vm = new Vue({
      el:"#app",
      data:{
        article:[],
      },
      methods:{
      get_userprofile_id : function(name){
            if(name=(new RegExp('[?&]'+encodeURIComponent(name)+'=([^&]*)')).exec(location.search))
            return decodeURIComponent(name[1]);
          },
       getData:function(){

          var self = this;
          var id = this.get_userprofile_id('id')
          console.log(id)
          var url = "/api/detail/" + String(id)
          reqwest({
            url:url,
            type:'json',
            headers:Cookies.get('token')? {'Authorization': 'Token ' + Cookies.get('token')}:{},
            success:function(resp){
              console.log(resp);
              self.article=resp;
            },
            error:function(error){
            //  window.location = '/home/';
            },

          })
        },

      logout : function () {
        Cookies.remove('token');
        window.location = '/home/';
      },
      getAllSummary : function(){
        window.location = '/articleList/';
      },
      backHome : function(){
        window.location = '/article/';
      },
      getReview : function(){
        window.location = '/review/';
      },

      },

      computed:{
      },

      ready:function(){
        this.getData();
      },
    })


  </script>
</body>


{% endverbatim %}
</html>
