<!DOCTYPE html>
{% load staticfiles %}
<html>
  <head>
    <meta charset="utf-8">
    <title>Paper Summary Log In</title>
    <link rel="stylesheet" href="{% static 'css/semantic.css' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <script src="{% static 'js/vue1.js' %}"></script>
    <script src="{% static 'js/reqwest.js' %}"></script>
    <script src="{% static 'js/js.cookie.js' %}"></script>
  </head>
<!-- tags for Django avoiding to take '{}' as variable-->
{% verbatim %}
<body  id="app">
  <div class="ui top blue fixed menu" >
    <div class="item">
      <h1 style="color:teal;">Paper Summary</h1>
    </div>
    <a class="active item">
    Home
    </a>
    <a v-on:click='getAllSummary' class="item" >
    All Summary
    </a>
    <a class="item" v-on:click='getReview'>
    Peer Review
    </a>
    <a class="item" v-on:click='writeSummary'>
     <i class='edit icon'> </i>Write Summary
    </a>
    <div class="right menu" v-on:click="logout" >
    <a class="ui item" >
      Logout
    </a>
    </div>
</div>

  <div class='ui grid' style="margin-top: 20px;">

    <div class="four wide column">
      <div class="ui left card" style="margin-left: 10px;">
        <div class="image">
          <img src="/static/img/geek.jpg">
        </div>
        <div class="content">
          <a class="header">Elyse</a>
        </div>
      </div>
    </div>

<!-- favorite summary -->
    <div class="six wide column">
     <div class='ui segment' style="opacity: 0.9;margin-left:20px;">
       <a class="ui blue ribbon label">Favorite</a>
        <div class="ui search" style="padding-top:10px;">
          <div class="ui icon input">
            <input class="prompt" type="text" v-model='bestArticle' placeholder="Search Your Favorite Summary title" style="width: 300px;">
            <i class="search icon"></i>
          </div>
        </div>
        <!-- items -->
        <div v-for="artcs in favorite" class="ui vertical segment" >

            <h3 class="ui center aligned header">{{ artcs.title }}</h3>

            <h5 class="ui center aligned header">
              <div class="sub header">PubDate: {{artcs.createDate}}</div>
            </h5>
            <a class="ui red label" style="margin-bottom: 5px;">{{artcs.tag}}</a>
            <!-- <img class="ui small left floated image" :src="artcs.url_image" style='height:100px;width:100px;' >-->
            <p>{{ artcs.content|limitBy 300 }}<br> ......<p>
            <div class="ui secondary  menu">
              <a class="item">
                <h4 class="ui header" v-on:click='action_api(artcs.id)'>
                  Read More
                </h4>
              </a>
              <div class="right menu">
                <a class="ui item">
                  <i class="like icon"></i> {{ artcs.vote }} Like
                </a>
                <a class="ui item">
                  <i class="comment icon"></i> {{ artcs.commentCount }} comment
                </a>
              </div>

            </div>

            <h4 class="ui horizontal header divider"></h4>
        </div>


      </div>
    </div>

<!-- personal summary -->
    <div class="six wide column">
      <div class='ui segment' style="opacity: 0.9;margin-right: 20px;">
      <!-- searching -->
        <a class="ui teal right ribbon label">Personal</a>
        <div class="ui search" style="padding-top:10px;">
          <div class="ui icon input">
            <input class="prompt" type="text" v-model='personalArticle' placeholder="Search Your Personal Summary title" style="width: 300px;">
            <i class="search icon"></i>
          </div>
        </div>
      <!-- items -->
      <div v-for="artcs in personal" class="ui vertical segment" >

          <h3 class="ui center aligned header">{{ artcs.title }}</h3>
          <h5 class="ui center aligned header">
            <div class="sub header">PubDate: {{artcs.createDate}}</div>
          </h5>
          <a class="ui red label" style="margin-bottom: 5px;">{{artcs.tag}}</a>
          <!-- <img class="ui small left floated image" :src="artcs.url_image" style='height:100px;width:100px;' >-->
          <p>{{ artcs.content|limitBy 300 }}<br> ......<p>
          <div class="ui secondary  menu">
            <a class="item">
              <h4 class="ui header" v-on:click='action_api(artcs.id)'>
                Read More
              </h4>
            </a>
            <div class="right menu">
              <a class="ui item">
                <i class="like icon"></i> {{ artcs.vote }} Like
              </a>
              <a class="ui item">
                <i class="comment icon"></i> {{ artcs.commentCount }} comment
              </a>
            </div>

          </div>

          <h4 class="ui horizontal header divider"></h4>
      </div>

      </div>
    </div>

  </div>
  <div class='ui basic center aligned segment' style="margin-top: 200px;background-color:#A9D0F5;opacity:0.9;">
   <p style="color:white;">© 2017   JingxinFu.<br>Contact: jacobxin24@gmail.com </br></p>
  </div>

  <script>
  vm = new Vue({
      el:"#app",
      data:{
        bestArticle:'',
        personalArticle:'',
        pArticle:[],
        fArticle:[],
      },
      methods:{
       getData:function(){
          var self = this;
          reqwest({
            url:'/api/article/',
            type:'json',
            headers:Cookies.get('token')? {'Authorization': 'Token ' + Cookies.get('token')}:{},
            success:function(resp){
              console.log(resp);
              self.fArticle=resp.favoriteArticle;
              self.pArticle=resp.personalArticle;
            },
            error:function(error){
              window.location = '/home/';
            },

          })
        },

      logout : function () {
        Cookies.remove('token');
        window.location = '/home/';
      },
      getAllSummary : function(){
        window.location = '/articleList/';
      },
      action_api : function(item_id){
        window.location = "/detail/?id=" + String(item_id);
      },
      writeSummary : function(){
        window.location = '/editing/';
      },
      getReview : function(){
        window.location = '/review/';
      },

      },

      computed:{
        personal:function(){
          var self=this;
          function titleSearch(result) {
                    return result.title == self.personalArticle;
                };
          if(self.personalArticle != ''){
            var newList = self.pArticle.filter(titleSearch);
          }else{
            var newList = self.pArticle;
          };
          return newList;
        },

        favorite:function(){
          var self=this;
          function titleSearch(result) {
                    return result.title == self.bestArticle;
                };
          if(self.bestArticle != ''){
            var newList = self.fArticle.filter(titleSearch);
          }else{
            var newList = self.fArticle;
          };
          return newList;
        },
      },

      ready:function(){
        this.getData();
      },
    })


  </script>
</body>


{% endverbatim %}
</html>
