<!DOCTYPE html>
{% load staticfiles %}
<html>
  <head>
    <meta charset="utf-8">
    <title>Paper Summary Log In</title>
    <link rel="stylesheet" href="{% static 'css/semantic.css' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <script src="{% static 'js/vue1.js' %}"></script>
    <script src="{% static 'js/reqwest.js' %}"></script>
    <script src="{% static 'js/js.cookie.js' %}"></script>
  </head>
<!-- tags for Django avoiding to take '{}' as variable-->
{% verbatim %}
<body  id="app">
 <div class="ui top blue fixed menu" >
      <div class="item">
        <h1 style="color:teal;">Paper Summary</h1>
      </div>
      <a class="item" v-on:click='backHome'>
      Home
      </a>
      <a v-on:click='getAllSummary' class="item" >
      All Summary
      </a>
      <a class="active item" v-on:click='getReview'>
      Peer Review
      </a>
      <a class="item" v-on:click='writeSummary'>
       <i class='edit icon'> </i>Write Summary
      </a>
      <div class="right menu" v-on:click="logout" >
      <a class="ui item" >
        Logout
      </a>
      </div>
    </div>

<!-- all summary -->
  <div class='ui very padded segment' style="opacity: 0.9;padding-left:100px;padding-right: 100px;">
      <!-- items -->
      <div class="ui left fixed vertical menu" style="margin-top: 60px;">
        <a class="item" v-on:click="filterArticle('')">ALL</a>
        <a class="item" v-on:click="filterArticle('Cancer immunology')">Cancer immunology</a>
        <a class="item" v-on:click="filterArticle('Cancer Epigenetics')">Cancer Epigenetics</a>
        <a class="item" v-on:click="filterArticle('Cancer Epigenetics')">Cancer Epigenetics</a>
        <a class="item" v-on:click="filterArticle('Drug response and resistance')">Drug response and resistance</a>
      </div>
   
      <div v-for="artcs in article" class="ui vertical padded segment"  style="margin-left: 200px;margin-top: 20px;">
          <h3 class="ui center aligned header">
            {{ artcs.title }}
          </h3>
          <h5 class="ui center aligned header">
            <div class="sub header">PubDate: {{artcs.createDate}}</div>
          </h5>
          <h4 class="ui center aligned header"><a class="ui red label" style="margin-bottom: 5px;">{{artcs.tag}}</a></h4>
           
          <!-- <img class="ui small left floated image" :src="artcs.url_image" style='height:100px;width:100px;' >-->
          <p>{{ artcs.content|limitBy 400 }}<br> ......<p>
          <div class="ui secondary  menu">
            <a class="item" v-on:click='action_api(artcs.id)'>
              <h4 class="ui header" >
                Read More
              </h4>
            </a>

          </div>

          <h4 class="ui horizontal header divider"></h4>
      </div>

  </div>

  <div class='ui basic center aligned segment' style="margin-top: 200px;background-color:#A9D0F5;opacity:0.9;">
   <p style="color:white;">© 2017   JingxinFu.<br>Contact: jacobxin24@gmail.com </br></p>
  </div>

  <script>
  vm = new Vue({
      el:"#app",
      data:{
        article:[],
        Allarticle:[],
        items:'',
      },
      methods:{
       getData:function(){
          var self = this;
          reqwest({
            url:'/api/review/',
            type:'json',
            headers:Cookies.get('token')? {'Authorization': 'Token ' + Cookies.get('token')}:{},
            success:function(resp){
              console.log(resp);
              self.article=resp;
              self.Allarticle=resp;
            },
            error:function(error){
              window.location = '/home/';
            },

          })
        },

      logout : function () {
        Cookies.remove('token');
        window.location = '/home/';
      },
      getAllSummary : function(){
        window.location = '/articleList/';
      },
      getReview : function(){
        window.location = '/review/';
      },
      backHome : function(){
        window.location = '/article/';
      },
      action_api : function(item_id){
        window.location = "/revDetial/?id=" + String(item_id);
      },
      writeSummary : function(){
        window.location = '/editing/';
      },
      filterArticle : function(items){
        var self=this;
        self.items=items;
        function tagFilter(result) {
                    return result.tag == self.items;
                };
        if(items!=''){
          self.article = self.Allarticle.filter(tagFilter);
        }else{
          self.article=self.Allarticle;
        };
      },


      },

      computed:{
      },

      ready:function(){
        this.getData();
      },
    })


  </script>
</body>


{% endverbatim %}
</html>
