<!DOCTYPE html>
{% load staticfiles %}
<html>
  <head>
    <meta charset="utf-8">
    <title>Paper Summary Log In</title>
    <link rel="stylesheet" href="{% static 'css/semantic.css' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <script src="{% static 'js/vue1.js' %}"></script>
    <script src="{% static 'js/reqwest.js' %}"></script>
    <script src="{% static 'js/js.cookie.js' %}"></script>
  </head>
<!-- tags for Django avoiding to take '{}' as variable-->
{% verbatim %}
<body  id="app">
 <div class="ui top blue fixed menu" >
      <div class="item">
        <h1 style="color:teal;">Paper Summary</h1>
      </div>
      <a class="item" v-on:click='backHome'>
      Home
      </a>
      <a v-on:click='getAllSummary' class="item" >
      All Summary
      </a>
      <a class="active item" v-on:click='getReview'>
      Peer Review
      </a>
      <a class="item" v-on:click='writeSummary'>
       <i class='edit icon'> </i>Write Summary
      </a>
      <div class="right menu" v-on:click="logout" >
      <a class="ui item" >
        Logout
      </a>
      </div>
    </div>

<!-- all summary -->
  <div class='ui very padded segment' style="opacity: 0.9;padding-left:100px;padding-right: 100px;">
      <!-- items -->
      <div class="ui left fixed vertical menu" style="margin-top: 70px;width: 250px;">
        <a class="item" style="margin-top: 20px;" v-on:click='allSelect'>
          <h2 class="ui grey center aligned header">ALL</h2>
        </a>
        <a class="item">
          <label for="Cancer immunology" class="ui red horizontal label" style="margin-bottom: 10px;">Cancer immunology</label>
          <input type="checkbox" id="Cancer immunology" value="Cancer immunology" v-model="tag">
        </a>

        <a class="item"><input type="checkbox" id="Cancer Epigenetics" value="Cancer Epigenetics" v-model="tag">
        <label for="Cancer Epigenetics" class="ui teal horizontal label" style="margin-bottom: 10px;">Cancer Epigenetics</label></a>

        <a class="item"><input type="checkbox" id="CRISPR screens" value="CRISPR screens" v-model="tag">
        <label for="CRISPR screens"  class="ui purple horizontal label" style="margin-bottom: 10px;">CRISPR screens</label></a>

        <a class="item"><input type="checkbox" id="Drug response and resistance" value="Drug response and resistance" v-model="tag">
        <label for="Drug response and resistance" class="ui blue horizontal label" style="margin-bottom: 10px;">Drug response and resistance</label></a>
      </div>
   
      <div v-for="artcs in filterArticle" class="ui vertical padded segment"  style="margin-left: 200px;margin-top: 20px;">
          <h3 class="ui center aligned header">
            {{ artcs.title }}
          </h3>
          <h5 class="ui center aligned header">
            <div class="sub header">PubDate: {{artcs.createDate}}</div>
          </h5>
          <!-- choose color -->
          <h4 class="ui center aligned header">
            <a class="ui red label"  v-if="artcs.tag.includes('Cancer immunology') " style="margin-bottom: 5px;">Cancer immunology</a>
            <a class="ui teal label" v-if="artcs.tag.includes('Cancer Epigenetics') " style="margin-bottom: 5px;">Cancer Epigenetics</a>
            <a class="ui purple label" v-if="artcs.tag.includes('CRISPR screens') " style="margin-bottom: 5px;">CRISPR screens</a>
            <a class="ui blue label"  v-if="artcs.tag.includes('Drug response and resistance')" style="margin-bottom: 5px;">Drug response and resistance</a>
          </h4>

           
          <!-- <img class="ui small left floated image" :src="artcs.url_image" style='height:100px;width:100px;' >-->
          <p>{{ artcs.content|limitBy 400 }}<br> ......<p>
          <div class="ui secondary  menu">
            <a class="item" v-on:click='action_api(artcs.id)'>
              <h4 class="ui header" >
                Read More
              </h4>
            </a>

          </div>

          <h4 class="ui horizontal header divider"></h4>
      </div>

  </div>

  <div class='ui basic center aligned segment' style="margin-top: 200px;background-color:#A9D0F5;opacity:0.9;">
   <p style="color:white;">© 2017   JingxinFu.<br>Contact: jacobxin24@gmail.com </br></p>
  </div>

  <script>
  vm = new Vue({
      el:"#app",
      data:{
        Allarticle:[],
        tag:[],
        allIF:false,
      },
      methods:{
       getData:function(){
          var self = this;
          reqwest({
            url:'/api/review/',
            type:'json',
            headers:Cookies.get('token')? {'Authorization': 'Token ' + Cookies.get('token')}:{},
            success:function(resp){
              self.article=resp;
              self.Allarticle=resp;
            },
            error:function(error){
              window.location = '/home/';
            },

          })
        },

      logout : function () {
        Cookies.remove('token');
        window.location = '/home/';
      },
      getAllSummary : function(){
        window.location = '/articleList/';
      },
      getReview : function(){
        window.location = '/review/';
      },
      backHome : function(){
        window.location = '/article/';
      },
      action_api : function(item_id){
        window.location = "/revDetial/?id=" + String(item_id);
      },
      writeSummary : function(){
        window.location = '/editing/';
      },
      allSelect : function(){
        this.allIF=!this.allIF;
        if(this.allIF){
          this.tag=['Cancer immunology','Cancer Epigenetics','CRISPR screens','Drug response and resistance'];
        }else{
          this.tag=[];
        }
      },

      },

      computed:{
        filterArticle : function(){
        var self=this;
        var newArticle;
        function tagFilter(result) {
                    for(ids in self.tag){
                      if(result.tag.includes(self.tag[ids])){
                        return true;
                      };
                    };
                    return false;
                };
        if(self.tag.length>0){
          newArticle = self.Allarticle.filter(tagFilter);
        }else{
          newArticle=self.Allarticle;
        };
        return newArticle;
      },
      },

      ready:function(){
        this.getData();
      },
    })


  </script>
</body>


{% endverbatim %}
</html>
