<!DOCTYPE html>
{% load staticfiles %}
<html>
  <head>
    <meta charset="utf-8">
    <title>Paper Summary Log In</title>
    <link rel="stylesheet" href="{% static 'css/semantic.css' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <script src="{% static 'js/vue1.js' %}"></script>
    <script src="{% static 'js/reqwest.js' %}"></script>
    <script src="{% static 'js/js.cookie.js' %}"></script>
  </head>
<!-- tags for Django avoiding to take '{}' as variable-->
{% verbatim %}
<body  id="app">
 <div class="ui top blue fixed menu" >
      <div class="item">
        <h1 style="color:teal;">Paper Summary</h1>
      </div>
      <a class="item" v-on:click='backHome'>
      Home
      </a>
      <a v-on:click='getAllSummary' class="item" >
      All Summary
      </a>
      <a class="active item" v-on:click='getReview'>
      Peer Review
      </a>
      <a class="item" v-on:click='writeSummary'>
       <i class='edit icon'> </i>Write Summary
      </a>
      <div class="right menu" v-on:click="logout" >
      <a class="ui item" >
        Logout
      </a>
      </div>
    </div>

<!-- all summary -->
  <div class='ui very padded segment' style="opacity: 0.9;padding-right: 250px;padding-left: 250px;margin-top: 50px;">
      <!-- items -->
          <h3 class="ui center aligned header">{{ article.title }}</h3>

          <h5 class="ui center aligned header">
            <div class="sub header">PubDate: {{article.createDate}}</div>
          </h5>
           <h4 class="ui center aligned header"><a class="ui red label" style="margin-bottom: 5px;">{{article.tag}}</a></h4>
          <!-- <img class="ui small left floated image" :src="artcs.url_image" style='height:100px;width:100px;' >-->
          <p>{{ article.content }}.<p>
          <div class="ui secondary  menu">
            <div class="left menu">
              <a class="ui item">
                <i class="like icon"></i>  Like
              </a>
            </div>

          </div>


          <!-- comment-->
          <div class="ui comments" >
            <div class="comment" v-for="comment in comments">
              <a class="avatar">
                <img src="/images/avatar/small/joe.jpg">
              </a>
              <div class="content">
                <a class="author">annonymous</a>
                <div class="metadata">
                  <div class="date">{{comment.createDate}}</div>
                </div>
                <div class="text">
                  <p>{{comment.content}} </p>
                </div>
              </div>
            </div>
            <form class="ui reply form">
              <div class="field">
                <textarea></textarea>
              </div>
              <div class="ui primary submit labeled icon button">
                <i class="icon edit"></i> Add Comment
              </div>
            </form>
          </div>


  </div>

  

  <div class='ui basic center aligned segment' style="margin-top: 200px;background-color:#A9D0F5;opacity:0.9;">
   <p style="color:white;">© 2017   JingxinFu.<br>Contact: jacobxin24@gmail.com </br></p>
  </div>

  <script>
  vm = new Vue({
      el:"#app",
      data:{
        article:[],
        comments:[],
      },
      methods:{
      get_userprofile_id : function(name){
            if(name=(new RegExp('[?&]'+encodeURIComponent(name)+'=([^&]*)')).exec(location.search))
            return decodeURIComponent(name[1]);
          },
       getData:function(){

          var self = this;
          var id = this.get_userprofile_id('id')
          console.log(id)
          var url = "/api/revdetail/" + String(id)
          reqwest({
            url:url,
            type:'json',
            headers:Cookies.get('token')? {'Authorization': 'Token ' + Cookies.get('token')}:{},
            success:function(resp){
              console.log(resp);
              self.article=resp.article;
              self.comments=resp.comment;
              console.log(self.comments);
            },
            error:function(error){
            //  window.location = '/home/';
            },

          })
        },

      logout : function () {
        Cookies.remove('token');
        window.location = '/home/';
      },
      getAllSummary : function(){
        window.location = '/articleList/';
      },
      backHome : function(){
        window.location = '/article/';
      },
      getReview : function(){
        window.location = '/review/';
      },
      writeSummary : function(){
        window.location = '/editing/';
      },

      },

      computed:{
      },

      ready:function(){
        this.getData();
      },
    })


  </script>
</body>


{% endverbatim %}
</html>
